/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
@import url(./reset.css);

:root {
  --backgorund: #f8ede3;
  --title: #e6d2aa;
  --border: #dfd3c3;
}

* {
  box-sizing: border-box;
  background: var(--backgorund);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 100%;
}
h2 {
  font-weight: 900;
  font-size: 2em;
}
main {
  position: relative;
  background-color: white;
}
li {
  list-style: none;
}

/* 제목 */
main h1 {
  color: var(--title);
  text-align: center;
  font-size: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* submit 영역 */
section.form__container {
  background-color: var(--backgorund);
  margin-bottom: 5px;
  padding: 20px;
  border: 4px solid var(--border);
  border-radius: 20px;
  position: relative;
}
.form__input--title > label {
  word-spacing: 7px;
}
.form__input--name > label {
  word-spacing: 3px;
}

.form__submit > input:hover {
  cursor: pointer;
  background-color: white;
}

/* Question 영역 */
section.discussion__wrapper {
  width: 100%;
  height: 100%;
}
.discussion__wrapper .discussions__container {
  border: 4px solid var(--border);
  border-radius: 14px;
  padding: 10px 10px 18px;
  margin: 20px 0;
}

.discussion__container {
  margin: 15px;
  padding: 10px;
  border: 4px solid #a64b2a;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 540px;
  height: 150px;
  font-size: 6px;
  position: relative;
}
.discussion__container .discussion__avatar--image {
  width: 60px;
  border-radius: 50px;
}
.discussion__container .discussion__content {
  width: 300px;
  height: 70px;
  line-height: 1.2;
  display: block;
}
.discussion__content .discussion__title {
  width: 330px;
  text-align: left;
}
.discussion__content .discussion__information {
  position: absolute;
  height: 30px;
  text-align: right;
  right: 30px;
  bottom: 5px;
}
.discussion__answered p {
  font-size: 30px;
  color: green;
}
