/* 아고라 스테이츠 질문 리스트가 중앙으로 와야 합니다. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(99, 98, 98);
  font-family: "Nanum Gothic", sans-serif;
}

body {
  background-color: antiquewhite;
}
main h1 {
  text-align: center;
  margin: 2rem 0;
  font-weight: 600;
  font-size: 2rem;
  color: black;
}

.form {
  display: flex;

  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  border: 1px solid black;
  width: 60%;
  margin: 0 auto;
  background-color: wheat;
  border-radius: 1rem;
}

/* 폼 제출 버튼 */
#submit {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 3.5rem 1rem;
  background-color: rgb(41, 166, 32);
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

#submit:hover {
  background-color: rgb(39, 196, 28);
}

.discussion__wrapper {
  display: flex;
  border-radius: 1rem;
  width: 60%;
  padding: 2rem 0;
  justify-content: center;
  margin: 1rem auto;
}

.discussion__container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 1rem;
}

.discussion__answered p {
  margin-bottom: 30px;
  cursor: pointer;
}

.discussion__answered p:hover {
  opacity: 0.5;
}

.discussion__answered button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* input 창 */

.form__input--name > label {
  font-weight: 600;
  margin-right: 1rem;
}
.form__input--title > label {
  font-weight: 600;
  margin-right: 1rem;
}

.form__textbox > label {
  font-weight: 600;
  margin-right: 1rem;
  display: flex;
  margin-top: 1rem;
}

input,
textarea {
  margin-top: 2rem;
  border-radius: 0.3rem;
  border: none;

  padding-bottom: 1rem;
}

input::placeholder,
textarea::placeholder {
  text-align: center;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  color: rgb(193, 182, 182);
}
/* 제목 링크 */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.3;
}

.discussion__container {
  width: 63rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 3.2rem;
  background-color: white;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
}

.discussion__container button {
  margin-right: 2rem;
}
.discussion__container button:hover {
  opacity: 0.5;
}

/* 프로필 이미지 */

.discussion__avatar--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.discussion__avatar--image {
  border-radius: 50%;
  margin: 0 1rem;
  width: 3rem;
}

/* 제목 */

.discussion__content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.discussion__content h3 a {
  font-weight: 600;
}

.discussion__information {
  color: #57616d;
  font-weight: 300;
  margin: 2rem auto;
}

/* 콘텐츠 */
.discussion__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 마크 버튼 */
.discussion__answered p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
