:root {
    --white: #F7F7F7;
    --blue--main: #B7C4CF;
    --blue--20: #AEBDCA;
    --blue--30: #7895B2;
    --purple--10: #BFACE0;
    --purple--20: #A084CA;
    --purple--30: #645CAA;
    --navy--10: #4D4C7D;
    --navy--20: #363062;
}