.discussion__container {
	border: 1px solid #ccc;
	background-color: antiquewhite;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 540px;
}
.discussion__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

.discussion__avatar--wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.discussion__content {
	width: 480px;
}

a {
	text-decoration: none;
	font-size: 18px;
}

.pagination-btn-container {
	width: 240px;
	height: 40px;
	margin: 20px 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.pagination-btn-container > * {
	width: 32px;
	height: 28px;
	margin: 5px;
	font-size: large;
	font-weight: bold;
}
