*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    color: #ff86ff;
    background: #050801;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 100vh;
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.blur-out-expand-fwd {
	-webkit-animation: blur-out-expand-fwd 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: blur-out-expand-fwd 4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes blur-out-expand-fwd {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }
  @keyframes blur-out-expand-fwd {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }
  