/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
/* ROOT */
:root {
  --main-color: #395144;
  --sub-color: #4e6c50;
  --brown-color: #aa8b56;
  --light-color: #f0ebce;
  --text-color: #333;
  --gray-color: #888;
  --header-font-color: #fff;
}
/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
textarea {
  resize: none;
}

/* 
  ########### COMMON #############
*/

.hide {
  display: none;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  color: var(--header-font-color);
  font-weight: normal;
}
main::before {
  content: "";
  background: linear-gradient(var(--main-color), var(--sub-color));
  width: 100%;
  height: 150px;
  position: absolute;
  z-index: -10;
  top: 0;
}

/* 
  ########## FORM ##########
*/
.form__container {
  display: flex;
  justify-content: center;
}
#form {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px, rgba(0, 0, 0, 0.2) 0px 0px 20px;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__input--wrapper div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.form__input--wrapper label {
  width: 130px;
  color: var(--brown-color);
}
.form__input--wrapper input,
.form__input--wrapper textarea {
  flex-grow: 1;
}
input:not([type="submit"]),
textarea {
  border: 1px solid var(--brown-color);
  border-radius: 4px;
  padding: 5px;
}
input:not([type="submit"]):focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--main-color);
}
/* submit btn */
.form__submit input {
  width: 100%;
  height: 35px;
  background: var(--brown-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.form__submit input:hover,
.form__submit input:active {
  background: var(--sub-color);
}

/* 
  ##########   Discussion   ##########
*/
.discussion__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discussions__container {
  margin: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discussion__container {
  display: flex;
  list-style: none;
  width: 540px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--brown-color);
}
.discussion__container:first-child {
  border-top: 1px solid var(--brown-color);
}

/* discussion__avatar */
.discussion__avatar--wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1.3rem;
  /* flex로 인해 작아지는 경우 작아지는 비율을
    0으로 만들어서 이미지가 뭉개지지않도록 함
  */
  flex-shrink: 0;
}
.discussion__avatar--image {
  width: 100%;
  object-fit: cover;
}
/* discussion__content */
.discussion__content {
  margin-right: 1rem;
  /* flex-grow를 1을 설정해
    남는 모든 영역을 차지하도록함
  */
  flex-grow: 1;
}
.discussion__title {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.discussion__title a {
  color: var(--sub-color);
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.discussion__title a:hover {
  color: var(--brown-color);
}
.discussion__information {
  font-size: 0.8rem;
  text-align: end;
  color: var(--text-color);
}

/* discussion__answered */
.discussion__answered {
  display: flex;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}
.discussion__check {
  color: var(--text-color);
  transition: all 0.3s ease-out;
}
.discussion__check:hover {
  color: var(--sub-color);
}

/* 
  ###########  PAGINATION   ###########
*/
.discussion__pagination {
  height: 50px;
}
.pagination__btn,
.pagination__prev-track,
.pagination__next-track {
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.pagination__btn:hover {
  background: var(--light-color);
}
.pagination__btn.active {
  background: var(--sub-color);
  color: #fff;
}
.pagination__last {
  cursor: default;
  color: var(--gray-color);
}
.pagination__prev-track,
.pagination__next-track {
  cursor: default;
  width: 10px;
}
.pagination__prev-track:hover,
.pagination__last:hover,
.pagination__next-track:hover {
  background: none;
}
