/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
}

.form__input--title > label {
  word-spacing: 7px;
}

.form__input--name > label {
  word-spacing: 3px;
}

h2 {
  font-family: "Nanum Brush Script", cursive;
  color: #04192c;
}

section.form__container {
  background-color: rgba(162, 148, 255, 0.5);
  border-radius: 20px;
  box-shadow: 3px 3px 3px #5757f2;
}

/* 체크 */
.discussion__answered {
  padding-top: 39px;
  font-size: 30px;
  margin: 5px;
  color: #eb5b13;
}
.discussion__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 578px;
  height: 150px;
  font-size: 10px;
  border-radius: 19px;
  margin: 10px;
  padding: 20px;
}
.discussion__avatar--image {
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: 5px;
}
.discussion__content {
  display: block;
}
.discussion__content > :nth-child(1) {
  width: 440px;
  text-align: left;
  margin-top: 0;
}
.discussion__content > :nth-child(2) {
  height: 30px;
  text-align: right;
}
li {
  list-style-type: none;
}
section.discussion__wrapper {
  display: flex;
  flex: 4;
  width: 578px;
  justify-content: center;
  align-items: center;
}
ul {
  padding: 0px;
}
li.discussion__container {
  background-color: rgba(0, 165, 231, 0.5);
  box-shadow: 3px 3px 3px hsl(199, 92%, 34%);
}
a:link {
  color: white;
  font-family: "Dongle", sans-serif;
  font-size: 22px;
}
a:visited {
  color: rgb(0, 0, 0);
}

/* 폼 디자인 */
h1 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  color: #99bcda;
  font-size: 40pt;
}
h3 {
  text-align: center;
  color: #99bcda;
  margin-bottom: 20px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  flex-direction: row;
}
.form__textbox {
  display: flex;
  flex-direction: column;
}
#story {
  width: 500px;
  border-radius: 10px;
  padding: 10px;
}
.form__input--wrapper {
  margin: 10px;
}
.form__input--wrapper input {
  width: 300px;
  height: 30px;
  font-size: 1.2rem;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid #6d51a9;
}
.form__submit {
  flex: 1;
  margin: 3px;
}
.form__submit input {
  width: 448px;
  height: 43px;
  border-radius: 10px;
  font-size: 15px;
  margin-left: 25px;
  margin-right: 0px;
  border: 2px solid rgb(0, 0, 0);
}
textarea {
  margin: 5px;
}

.discussion__information {
  padding-top: 10px;
  font-size: 14px;
  color: #010101;
}

img {
  width: 48px;
  border-radius: 100%;
}
