/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    padding: 30px 80px;
    background-color: #F2D388;
    margin: 0 auto;
} 
h1{
    text-align: center;
    margin-bottom: 20px;
}
.form{
    width: 100%;
    display: flex;
}
.form__input--wrapper{
    margin-left: 70px;
    margin-right: 30px;
}
.form__submit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}
.submit_box{
    width: 80px;
    height: 60px;
}
.form__container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25316D;
}
ul{
   list-style:none;
   padding-left: 0px;  
}
.discussion__container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.discussion__wrapper {
width: 540px;
background-color: aliceblue;
margin-top: 25px;
}
.discussion__container{
    margin-bottom: 15px;
    border: 1px solid black;
}
.form__input--name > label {
    color: aliceblue;
}

.form__input--title > label {
    color: aliceblue;
}

.form__textbox{
    display: flex;
    flex-direction: column;
    color: aliceblue;
}
.form__input--title > input  {
    margin-left: 12px;
}
 
#story {
    height: 50px;
    margin-bottom: 5px;
    border-radius: 10px;
}
.discussion__avatar--image{
    border-radius: 180px;
    width: 48px;
}
.discussion__avatar--wrapper{
    margin: 0px 10px;
}

.discussion__title > a {
    font-size:15px;
}
.discussions__container{
    background-color: #F2D388;
}
.discussion__container{
    background-color: aliceblue;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}
.discussion__title{
    display: flex;
    justify-content: flex-start;
}
.discussion__information{
    display: flex;
    justify-content: end;
}
