/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
* {
    list-style: none;
    padding: 0 ;
    margin: 0;
}

body {
    background-color: #fff
}

main {
    width: 540px;
    margin: 0 auto;
}

main h1 { 
    text-align: center;
}

.form__container {
    padding: 15px 20px;
    background-color:#F05454
}

.form__container form {
    display: flex;
}

.form__container form .form__input--wrapper {
    padding: 0 20px 0 0;
    flex-grow:1;
}
.form__container form .form__input--wrapper > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}
.form__container form .form__input--wrapper > div label {
    color: #fff;
}
.form__container form .form__input--wrapper > div input {
    width: 60%;
}
.form__container form .form__input--wrapper .form__textbox {
    flex-direction: column;
    margin-bottom:0;
}

.form__container form .form__submit input{
    width: 90px;
    height: 100%;
    border: 0 none;
    background: #30475E;
    font-size: 1.2rem;
    color: #fff;
}


.discussions__container .discussion__container {
    display: flex;
    margin:15px 0;
    background: #F5F5F5
}
.discussions__container .discussion__container:hover {
    background: hsl(0, 0%, 90%)
}

.discussions__container .discussion__container > div {
    padding: 0 10px;
}

.discussions__container .discussion__container .discussion__avatar--wrapper {
    display: flex;
    align-items: center;
}

.discussions__container .discussion__container .discussion__avatar--wrapper img {
    width: 50px;
    border-radius: 50%;
}

.discussions__container .discussion__container .discussion__content {
    display:flex;
    min-height: 60px;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 5px 15px 0;
    flex-grow: 1;
}

.discussions__container .discussion__container .discussion__content .discussion__information {
    text-align: right;
}

.discussions__container .discussion__container .discussion__content .discussion__title a {
    display: inline-block;
    line-height: 18px;
    text-decoration: none;
    font-size:.9rem;
    color: #333;
}
.discussions__container .discussion__container .discussion__content .discussion__title a:hover {
    text-decoration: underline;
}
.discussions__container .discussion__container .discussion__content .discussion__information {
    font-size:.85rem
}

.discussions__container .discussion__container .discussion__answered {
    display: flex;
    align-items: center;
    font-size:1.5rem;
}

/*  pagination */
.pagination__container {
    display: flex;
    justify-content: center;
}

.pagination__item {
    width: 30px;
    height: 30px;
    background-color: #30475E;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 15px 5px;
    cursor: pointer;
}
.pagination__item:hover {
    background-color: #1b4977
}
.pagination__item.active {
    background-color: #006cd7
}