*{
    margin: 0;
    padding: 0;
    /* outline: 1px solid black; */
}

body{
    height: 100vh;
    background: linear-gradient(blue, 10%, pink);
}

img{
    /* 이미지 크기 및 둥글게 */
    border-radius: 50%;
    width: 54px;
}

li{
    /* 블릿제거 */
    list-style: none;
}

main{
    width: 600px;
    margin: 0 auto;
    margin-top: 200px;
    position: relative;
    /* border: 2px dotted hotpink; */
}

h1{
    text-align: center;
    padding: 50px;
    text-shadow: 2px 6px 2px white;
}

a{
    color: black;
    font-size: 12px;
    text-decoration: none;
}


/************* 폼박스 @@ form__container 구간!!! *************/

.form__container{
    /* 최상위부모 */
    position: absolute;
    left: 0;
    right: 0;
    padding-top: 520px;
    text-align: center;
    
    
    
}

.form__input--wrapper{
    /* input요소들 가로정렬 */
    display: flex;
    font-size: 12px;
    font-weight: bold;
}
.form__input--wrapper > div{
    /* 부모크기에 맞게 부모는 ? form__input--wrapper */
    flex: 1;
    /* 하위 자식들을위한 flex */
    display: flex;
    align-items: center;
    text-align: center;
}
.form__input--wrapper > div > *{
    /* 모든요소 부모크기에 맞게 부모는 ? form__input--wrapper */
    flex: 1;
}

.form__submit{
    /* 버튼가운데정렬 */
    text-align: center;
}

#button{
    /* 서브밋버튼 부모요소만큼 */
    width: 100%;
    height: 50px;
}

.discussion__answered{
    flex-basis: 50px;
}


/*************** 리스트 @@ discussion__wrapper 구간!!! ***************/
/* 최상위 부모 */
.discussion__wrapper{
    display: flex;
    text-align: center;
    /* 리스트박스 전체부모 쉐도우 */
    box-shadow: 0px 0px 14px 2px lightskyblue;
    position: relative;
    z-index: 1;
    
}

.discussions__container{
    /* 부모요소 ul 중앙정렬 */
    margin: 0 auto;
    height: 500px;
    overflow: scroll;

}

.discussion__avatar--wrapper{
    /* 사진중앙정렬 */
    display: flex;
    justify-content: center;
    align-items: center
}

.discussion__container{
    /* li리스트 자식 가로정렬 */
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    
}

.discussion__answered{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 20px;
}


.discussion__container div:nth-child(2){
    /* li리스트 제목,날짜 정렬 */
    flex: 1;
    box-sizing: border-box;
    padding: 17px;
    
}
/* 버튼
.btns{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
} */






