/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
*{
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.02em;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
    /* background-color: blanchedalmond; */
    width: 1000px;
    height: 100vh;
}

header {
    width: 1000px;
    flex-direction: row;
    background-color: bisque;
    align-items: center;
}

.buttonbox {
    display: flex;
}

.button1 {
    margin-left: 30px;
    margin-bottom: 20px;
    background-color: #F97B22;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    color: #F6BA6F;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    transition-duration: 0.1s;
}

.button2 {
    margin-left: 30px;
    background-color: #F97B22;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    color: #F6BA6F;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    transition-duration: 0.1s;
}

button:hover {
    font-size: 20px;
    background-color: #957ae0;
    color:whitesmoke;
}

li.form__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin:10px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width:50vw; */
}

.form__input--wrapper {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    transition: 3s;
    margin-left: 15px;
}

.form__input--name,
.form__input--title,
.form__textbox {
    flex:1;
    width:400px;
    margin: 3px;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
    transition-duration: 0.2s;
}
.form__input--wrapper input {
    width:400px;
    height: 30px;
    font-size:1.2rem;
    font-family: 'WooridaumL';
    border:0px; 

}
.form__input--wrapper input:hover {
    background-color: #cac8ca;
    transition: 0.5s;
}
.form__input--wrapper textarea {
    width:400px;
    height: 100px;
    font-size:1.2rem;
    font-family: 'WooridaumL';
    border:0px;
}
.form__input--wrapper textarea:hover {
    background-color: #cac8ca;
    transition: 0.5s;
}

.form__submit {
    flex-basis:50px;
    margin:3px;
}
.form__submit input {
    margin-top: 3px;
    cursor: pointer;
    width:100px;
    height: 175px;
    font-family: 'WooridaumR';
    font-weight:bolder;
    font-size: 1.1rem;
    background-color: #774BF1;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    transition-duration: 0.1s;
    color:white;
    margin-right: 15px;
}
.form__submit input:active {
    margin-left: 5px;
    margin-top: 5px;
    box-shadow: none;
}
.form__submit input:hover {
    font-size: 20px;
    background-color: #957ae0;
    color:whitesmoke;
}

li.discussion__container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}


p.discussion__answered {
    /* float: right; */
    margin-top: 70px;
    width: 50px;
}

.discussion__avatar--image {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 60%;
}

h1 {
    text-shadow: 1px 1px 1px 1px #000;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: 800;
    color: #1f2d3d;
    line-height: 1.25;
}

a{
    display: flex;
    text-decoration: none;
    color: #1f2d3d;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.45;
    margin-top: 5px;
    margin-bottom: 10px;
}

.discussion__information {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 15px;
    color: gray;
    line-height: 1.5;
}

script {
    display: none;
}