/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Noto+Sans+KR:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}
a {
    color: #090909;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(img/bg.jpg);
    background-size: cover;
}
main{
    display: flex;
    flex-flow: column wrap;
}
h1{
    width: 100%;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    padding: 0 10px;
    color: var(--strawberry);
    text-shadow: -1px 0 var(--dark-blue), 0 1px 2px var(--dark-blue), 1px 0 4px var(--dark-blue), 0 -1px var(--dark-blue);
}
#wrap {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
    width: 100%;
    min-width: 1080px;
}
/* 입력폼 */
.form__container {
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    background-color: var(--pale-pink-100);
    border: 3px solid var(--dark-blue);
    border-radius: 15px 0 0 15px;
    width:50%;
    height: 650px;
}
form{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 25px 0;
}
.form__input--wrapper{
    display: flex;
    flex-flow: column wrap;
}
.form__input--wrapper div {
    margin: 15px 0;
}
.form__input--wrapper label, input, textarea {
    width: 100%;
}
.form__input--wrapper input, textarea {
    background-color:var(--purple);
}
.form__input--wrapper label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--dark-blue);
}
.form__input--wrapper input {
    border: none;
    height: 45px;
    border-radius: 10px;
    padding: 0 10px;
}
/* 입력폼 > 이름 */
.form__input--name {
    display: flex;
    flex-flow: column;
}
.form__input--name > label {
    margin-bottom: 10px;
}
/* 입력폼 > 제목 */
.form__input--title {
    display: flex;
    flex-flow: column;
}
.form__input--title > label {
    margin-bottom: 10px;
}
/* 입력폼 > 질문 */
#story{
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    height: 170px;
}
.form__input--wrapper textarea{
    padding: 10px;
} 
.form__input--wrapper textarea::placeholder {
    color: var(--dark-blue);
  }
/* 입력폼 > 버튼 */
.form__submit {
    width: 60%;
    height: 70px;
    margin-top: 25px;
}
.form__submit input {
    width: 100%;
    height: 90%;
    border:none;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--dark-blue);
    color: var(--strawberry);
    transition: all 0.2s ease-in-out;
}
.form__submit input:hover{
    cursor: pointer;
    transform: scale(105%);
}

/* 질문 */
.discussion__wrapper{
    width: 50%;
    height: 650px;
    display: flex;
    flex-flow: column nowrap;
    padding: 15px;
    background-color: var(--dark-blue);
    border: 3px solid var(--dark-blue);
    border-radius: 0 15px 15px 0;
    overflow-x:hidden;
    overflow-y: scroll;
}
.discussion__wrapper::-webkit-scrollbar {
    width: 1px;
  }

.discussions__container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
}
.discussions__container > li {
    display: flex;
    background-color: var(--strawberry);
    padding: 8px 13px;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.discussions__container > li:hover{
    background-color: var(--pale-pink-100);
}

/* 질문 > 이미지 */
.discussion__avatar--wrapper > img {
    object-fit: contain;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

/* 댓글창 > 제목 날짜 */
.discussion__content {
    width: 350px;
    text-align: center;
}
.discussion__content > h2 {
    font-size: 0.8em;
}
.discussion__content > div {
    font-size: 0.5em;
    margin-top: 10px;
}
.discussion__answered{
    width: 50px;
    text-align: center;
    font-size: 1.2em;
    color: var(--dark-blue);
}

/* 페이지 버튼*/
.buttons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.buttons button{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;

    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--strawberry);
    font-weight: bold;
}
.buttons button:hover{
    cursor: pointer;
}