/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

:root {
  --background: #a4c3b2;
  --main: #f6fff8;
  --modal: #eaf4f4;
  --font: #6b9080;
  --hover: #cce3de;
  --button: #a4c3b2;
  --etc: #e0e1dd;
  --shadow: #3a3a3ab9;
}

::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  font-family: 'Gamja Flower', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font);
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
}
.hidden {
  display: none;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

.discussion {
  width: 540px;
  height: 850px;
  border-radius: 5px;
  background-color: var(--main);
  overflow: hidden;
  box-shadow: 2px 2px 5px var(--shadow);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  position: relative;
  width: 100%;
  height: 45px;
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
nav .linkbtn {
  width: 45px;
  height: 45px;
  font-size: 45px;
  border: 0;
  background-color: transparent;
}

nav .linkbtn:hover {
  color: gray;
  background-color: var(--hover);
}

nav .links {
  height: 0;
  overflow: hidden;
  transition: all 1s;
  border-radius: 3px;
  overflow: hidden;
}

nav .links > li {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: var(--etc);
}

nav .links > li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

nav .links > li:hover {
  background-color: var(--hover);
}

nav .linkbtn:hover ~ .links,
nav .links:hover {
  height: 60px;
}

.form__container {
  height: 40px;
}
.form__container > button {
  width: 100%;
  height: 100%;
  border: 0;
  text-align: center;
  font-size: 18px;
  background-color: var(--button);
  color: var(--main);
}
.form__container > button:hover {
  background-color: var(--hover);
  color: var(--font);
}

.modal {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--modal);
  width: 550px;
  height: 300px;
  padding: 25px 10px;
  border-radius: 10px;
  z-index: 100;
  box-shadow: 2px 2px 5px var(--shadow);
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
}
.close:hover {
  color: var(--main);
}
.form__submit {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.form__submit input {
  width: 50px;
  height: 20px;
  border: 0;
  background-color: var(--button);
  cursor: pointer;
  color: var(--main);
}
.form__submit input:hover {
  background-color: var(--hover);
  color: var(--font);
}

.discussion__wrapper {
  height: 770px;
  overflow: scroll;
}

.discussion__container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--etc);
}

.discussion__avatar--wrapper {
  width: 48px;
  height: 70px;
  text-align: center;
  margin-right: 5px;
}
.discussion__avatar--wrapper img {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}
.discussion__avatar--wrapper p {
  width: 48px;
  /* word-wrap: break-word; */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.discussion__content {
  width: 430px;
  text-align: left;
}

.clicked {
  background-color: var(--hover);
}

.discussionLink {
  font-size: 13px;
  color: var(--main);
}

.discussionLink:hover {
  text-decoration: underline;
  background-color: var(--hover);
}

.discussion__answered {
  width: 20px;
  font-size: 20px;
  margin-left: 5px;
}

/* uiverse CSS */

.input {
  border: none;
  width: 100%;
  height: 40px;
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
  background: var(--main);
  box-shadow: 2px 2px 5px #c5c5c5;
  transition: 0.3s;
}

.input:focus {
  outline-color: var(--background);
  background: var(--background);
  box-shadow: inset 20px 20px 60px var(--hover), inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

.textbox {
  height: 130px;
}
.textbox:focus {
  outline-color: var(--background);
  background: var(--background);
  box-shadow: inset 40px 40px 120px var(--hover),
    inset -40px -40px 120px #ffffff;
  transition: 0.3s;
}
