/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a5c9ca;
}

main {
  display: flex;
  width: 540px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 2C3333 검
395B64 청록
A5C9CA 하늘
E7F6F2  흰
*/
input {
  -webkit-appearance: none;
  appearance: none;
  outline-style: none;
  /* border-radius: 10px; */
  background-color: #e7f6f2;
}
a:link {
  color: #395b64;
}
a:visited {
  color: gray;
}
a:hover {
  color: #61919f;
}
a:active {
  color: #61919f;
}
/* 제목 */
h1 {
  margin: 20px 0;
  color: #2c3333;
}

/* 인풋 부분 */
.form__container {
  display: flex;
  margin-bottom: 20px;
  background-color: #2c3333;
  color: #e7f6f2;
  border: none;
  border-radius: 15px;
}

.form {
  display: flex;
  width: 540px;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
}

.form__input--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 400px;
  height: 140px;
}

.form__input--name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.form__input--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.form__textbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

label {
  font-size: 18px;
}
#name {
  width: 250px;
  height: 25px;
}

textarea {
  resize: none;
  /* border-radius: 15px; */
  background-color: #e7f6f2;
}

.form__submit > input {
  width: 100px;
  height: 100px;
  font-size: 16px;
  border-radius: 25px;
  background-color: #395b64;
  color: #e7f6f2;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* 리스트 부분 */

.discussion__container {
  width: 540px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  background-color: #e7f6f2;
  border: none;
  border-radius: 10px;
}
.discussion__avatar--wrapper {
  display: flex;
  text-align: center;
}

.discussion__avatar--image {
  width: 48px;
  border-radius: 50%;
}

.discussion__content {
  display: flex;
  flex-direction: column;
  width: 440px;
}

h2 {
  margin-bottom: 10px;
  font-size: 20px;
}
.discussion__information {
  display: flex;
  justify-content: flex-end;
}
