/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
/*
1. Discussion 컴포넌트
    모든 요소에 border-box를 적용합니다.
    <li> 요소의 기본 스타일인 점을 보이지 않게 합니다.
    Discussion 컴포넌트 전체의 폭을 540px로 만드세요.
2. 왼쪽 아바타
    아바타 사진을 인스타그램 프로필 사진처럼 동그랗게 표현하세요.
    아바타 사진의 너비를 48px로 설정하세요.
    아바타 사진이 Discussion 컴포넌트 높이의 중간에 오도록 정렬합니다.
3. 중간 Discussion 콘텐츠
    Discussion 제목과 저자, 생성일간에 간격을 충분히 줍니다.
    저자, 생성일을 함께 작성하고, 오른쪽 정렬하여 오른쪽에 붙입니다.
4. 오른쪽 체크 표시
    체크 표시가 Discussion 컴포넌트 높이의 중간에 오도록 정렬합니다.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  background-color: beige;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discussion__wrapper {
  width: 540px;
  background-color: azure;
}
.discussions__container {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 10px;
}
.discussion__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid grey;
  background-color: white;
}
.discussion__avatar--wrapper {
  margin-right: 15px;
}
.discussion__avatar--image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.discussion__content {
  flex-grow: 1;
}
.discussion__title a{
  font-size: 1.2rem;
  color: black;
}
.discussion__information {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  margin-top:15px;
}
.discussion__answered {
  margin-left: 15px;
}
.discussion__answered p{
  font-size: 2rem;
}