/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg,orange, violet);
}  

.form__input--title > label {
  word-spacing : 7px
}

.form__input--name > label {
  word-spacing : 3px
}

h2 {
  font-family: 'Nanum Brush Script', cursive;
  color: black;
}
section.form__container {
  background-color: rgb(255,230,154);
  border-radius: 20px;
}
.discussion__answered {
  padding-top: 39px;
  font-size: 20px;
  margin: 5px;
  color: black;
}
.discussion__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 578px;
  height: 150px;
  font-size : 10px;
  border-radius: 19px;
  margin : 10px;
  padding: 20px;
}
.discussion__avatar--image {
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: 0;
}
.discussion__content{
  display: block;
}
.discussion__content >:nth-child(1){
width: 440px;
text-align: left;
margin-top: 0;
}
.discussion__content >:nth-child(2){
  height:30px;
  text-align: right;
}
li {
  list-style-type: none;
}
section.discussion__wrapper{
  display: flex;
  flex:4;
  width: 578px;
  justify-content: center;
  align-items:center;
}
ul {
  padding: 0px;
}
li.discussion__container {
  background-color: rgb(253, 247, 175);
}
a:link {
  color: black;
  font-family: 'Dongle', sans-serif;
  font-size: 22px;
}
a:visited {
  color: blueviolet;
}

h1 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  color: white;
  font-size: 60px;
  text-shadow: 2px 2px 2px black;
}
section {
  display:flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  flex-direction: row;
}
.form__textbox {
  display: flex;
  flex-direction: column;
}
#story {
  width: 500px;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  color: black;
}
.form__input--wrapper {
  margin: 5px;

}
.form__input--wrapper input {
  width:300px;
  height: 30px;
  font-size:1.2rem;
  margin: 5px;
  border-radius: 10px;
  border: 2px solid white;
}
.form__submit {
  flex:1;
  margin:3px;
}
.form__submit input {
  width: 448px;
  height: 43px;
  border-radius: 10px;
  font-size: 15px;
  margin-left: 25px;
  margin-right: 0px;
  border: 1px solid white;
  background-color: rgb(248, 178, 117);
}
textarea {
  margin : 5px;
}

.discussion__information {
  padding-top: 40px;
  font-size: 12px;
  color: black;
}

img {
  width: 48px;
  border-radius: 100%;
}
