* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'NeoDunggeunmo';
    color: #352B44;
    text-decoration: none; */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

li.discussions__container {
    display: flex;
    width: 420px;
    height: 80px;
    justify-content: space-between;
}

div.discussion__avatar--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


img {
    border-radius: 50%;
    width: 60px;
}

div.discussion__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1; /*남은 모든 여백을 차지함*/
}

h3.discussion__title {
    text-align: left;
}

div.discussion__information {
    text-align: right;
}

div.discussion__answered {
    display: flex;
    justify-content: center;
    align-items: center;
}