/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    
}
a{
    text-decoration: none;
}
video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

h1{
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.811);
    font-size: 4em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow:5px 5px 5px #ffffffac ; 
}
img{
    border-radius: 50%;
    width: 70px;
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
/* section.form__container{
    position: fixed;
} */
.form__container{
    /* margin: 0 auto; */
    background: rgba(255, 255, 255, 0.225);
    text-align: center;
    width: 540px;
    height: 540px;
    justify-content: center;
    border-radius: 20px;
    margin-top: 30px;
    color: beige;   
    
}
input[type=text]{
    width: 100%;
    border-radius: 13px;
    margin: 6px 0;
    /* outline: none; */
    padding: 5px;
    background-color: rgba(245, 245, 220, 0.31);
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.form__input--wrapper{
    font-size: 25px;
    font-family: 'Alkatra', cursive;
font-family: 'Hi Melody', cursive;

}
.form__textbox textarea{
    width: 100%;
    border-radius: 13px;
    margin: 5px 0;
    /* outline: none; */
    padding: 7px;
    background-color: rgba(245, 245, 220, 0.31);  
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.form__submit input[type="submit"] {
    text-align: center;
    border-radius: 13px;
    margin-top: -10px;
    outline: none;
    padding: 5px;
    background-color: rgba(245, 245, 220, 0.31);  
    color: white;
    font-weight: bold;     
}


/*
section.form__container {
    background-color: rgba(245, 245, 220, 0.31);
    border-radius: 20px;
}*/

.discussion__answered {
    padding-top: 39px;
    font-size: 20px;
    margin: 10px;
    color: #FFF9CA;

}
.discussion__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 578px;
    height: 150px;
    border-radius: 19px;
    margin : 10px;
    padding: 20px;
    font-family: 'Hi Melody', cursive;
    color: white;
    
}
/* .discussion__avatar--image {
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: 5px;
} */
.discussion__content{
    /* display: block; */
    padding-top: 30px;
    color: white;
    font-size: 15px;
}
.discussion__content >:nth-child(1){
    width: 440px;
    text-align: left;
    margin-top: 0;
    margin-left: 5px;
    color: white;

}
.discussion__content >:nth-child(2){
    height:30px;
    text-align: right;
    margin-top: 30px;
    color: white;

}
li {
    list-style-type: none;
}
section.discussion__wrapper{
    margin-top: 40px;
    color: white;

}
/* ul {
    padding: 0px;
} */
li.discussion__container {
    background-color: rgba(245, 245, 220, 0.11);

}
li.discussion__container:hover{
    background-color: rgba(245, 245, 220, 0.446);

}
a:link {
    color: white;
    font-family: 'Alkatra', cursive;
    font-family: 'Hi Melody', cursive;    
    font-size: 20px;
}
/* a:visited {
    color: rgb(30, 17, 42);
} */





section {
    display:flex;
    justify-content: center;
    align-items: center;
}


div.discussion__information{
    color: rgb(225, 218, 205);

}

.checked{
    width: 30px;
    opacity: 0.8;
}

#site{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    margin-top: 20px;
}
#site a{
    font-size: 30px;
}


button{
    text-align: center;
    width: 50px;
    border-radius: 20px;
    height: 30px;
    background-color: rgba(245, 245, 220, 0);
    color: rgb(147, 26, 74);
    font-weight: bold;
    border: 1px white;
        color: white;
        font-size: 18px;

}
button:hover{
    color: rgb(203, 155, 163);
}

.clear{
width: 60px;
height: 40px;

}