/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.discussion__container {
    width: 540px;
    display: flex;
    justify-content: space-between;


}

li {
    list-style: none;
}

.discussion__avatar--image {
    width: 48px;
    border-radius: 50%;
}