/* TODO: 보기 좋은 나만의 아고라 스테이츠를 위해서 CSS를 수정하세요. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: small;  
    text-decoration: none; 
   
    
}
li.discussion__container{
    display: flex;
    width: 540px;
    height: 80px;
    justify-content: space-between;
    background-color: #F2D7D9;
    
}

.form__container{
    background-color:#D3CEDF;
    width: 540px;
}
div.discussion__avatar--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.discussion__content, div.discussion__answered{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 50px;
    color: black;
}

.discussion__avatar--image{
    width: 48px;
    border-radius: 50%;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 15px; */
    background-color: #9CB4CC;
   
}

.form__input--name{
    margin-top: 20px;
    padding: 15px;
   
}
.form__input--title{
    margin-top: 20px;
    padding: 15px;
}
.form__textbox{
    margin-top: 20px;
    padding: 15px;
}

a {color: violet;}
a:visited { color: palevioletred; }

.form__submit{
    padding: 20px;
}