.contents-area {
    width: 60%;
    margin: 0 auto;
    padding: 45px 0;
}

.board-category {
    height: 100px;
    line-height: 100px;
    border-bottom: solid 1px var(--color-footer-border);
    padding-left: 60px;
}

.board-category p {
    width: fit-content;
    vertical-align: bottom;
    display: inline-block;
    color: var(--color-text);
    font-weight: 600;
    font-size: 1.9rem;
    display: inline-block;
}

.board-category a:hover {
    text-decoration: underline;
}


/* 질문 작성자 정보 */

.discussion-container {
    width: 100%;
    height: auto;
    margin-top: 60px;
    border: 1px solid var(--color-box-border);
    border-radius: 10px;
}

.info-view  {
    height: fit-content;
    padding: 15px 23px;
    color: var(--color-text);
    background-color: var(--color-info-bg);
    border-radius: 10px 10px 0 0;
    border-bottom: solid 1px var(--color-box-border);
}

.info-view div{
    display: inline;
}

.discussion__avatar--wrapper {
    width: fit-content;
    margin-right: 13px;
}

.discussion__avatar--wrapper img {
    height: 50px;
    border-radius: 70%;
}

.discussion__author {
    margin-right: 13px;
}

.discussion__date {
    color: var(--color-date-text);
}

/* 글 컨테이너*/

.contents-view {
    padding: 30px;
    border-radius: 10px;
    /* border: solid red; */
    color: var(--color-text);
    background-color: var(--color-discussion-bg);
}

.text-container {
    margin: 25px 50px;
    margin-bottom: 70px;
    /* border: solid pink; */
    font-size: 1.2rem;
}

.post-btn-container {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    /* border: solid purple; */
}

.like {
    font-size: 1.25rem;
}

.comments {
    font-size: 1.2rem;
}

.comment-line {
    display: none;
    height: 40px;
    margin: 0 30px;
    border-left: solid var(--color-footer-border);
}

.show {
    display: block;
}


/* 답변 목록 */

.comment-container {
    display: none;
    border: 1px solid var(--color-box-border);
    border-radius: 10px;
}

/* 답변하기 */

.my-reply-container {
    width: 100%;
    height: 100px;
    padding: 20px;
    border-top: solid var(--color-border-default);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.my-reply-container img {
    height: 50px;
    border-radius: 70%;
}

.reply-form {
    border: solid 1px var(--color-box-border);
    border-radius: 10px;
    padding-bottom: 15px;
}

.input-container {
    padding: 15px;
}

.input-container input, .input-container textarea {
    width: 100%;
    padding-left: 10px;
    background-color: var(--color-info-bg);
    border: 1px solid var(--color-footer-border);
    border-radius: 10px;
    color: var(--color-text);
}

.input-container input {
    height: 40px;
    margin-bottom: 10px;
}

.input-container textarea {
    height: 150px;
    padding-top: 5px;
    resize: none;
}

.reply-btn {
    width: 120px;
    padding: 5px 16px;
    margin-right: 30px;
    float: right;
    font-size: 1.1rem;
    color: var(--color-text);
    border: solid 1px var(--color-form-btn-border);
    border-radius: 6px;
    background-color: var( --color-form-btn-bg);
}