:root {
  --white: #fff;
  --gray-1: #1c2128;
  --gray-2: #23272d;
  --gray-3: #22272e;
  --gray-4: #444c56;
  --gray-5: #768390;
  --gray-6: #adbac7;
  --border: #373e47;
  --green: #347d39;
  --lightgreen: #57ab5a;
  --blue: #316dca;
}
